@font-face {
    font-family: "e-Ukraine";
    src: url(../fonts/e-Ukraine-Regular.otf);
}

@font-face {
    font-family: "e-UkraineHead";
    src: url(../fonts/e-UkraineHead-LOGO.otf);
}
:root{
    --light_mode: rgb(231, 231, 231);
    --dark_mode: #1f1f1f;
    --backround_mode_color: var(--dark_mode);
    --backround_mode: var(--light_mode);
}
body{
    background-color: var(--light_mode);
    font-family: "e-Ukraine", sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
    cursor: pointer;
  }
  .material-symbols-outlined:hover {
      color: rgba(79, 79, 79, 0.76);
  }

header{
    color: var(--dark_mode);
    display: flex;
    height: 7vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}
    .header-icons{
        display: flex;
        flex-direction: row-reverse;
        gap: 5px;
    }

.image_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: all 0.4s ease-in-out 0s;
}
    .images{
        display: flex;
        position: relative;
        height: 100%;
        max-height: 65vh;
        margin-bottom: 20px;
        flex-direction: column;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
        border-radius: 0px 0px 16px 16px;
        transition: all 0.4s ease-in-out 0s;
    }
        .image{
            max-width: 100%;
            max-height: 60vh;
            z-index: 1;
        }

        .image-info{
            display: none;
            position: relative;
            width: 100%;
            height: 40px;
            background: rgb(215, 215, 215);
            border-radius: 0px 0px 16px 16px;

            justify-content: space-around;
            align-items: center;
        }
        .image:hover ~ .image-info, .image-info:hover{
            animation: move 0.4s ease-in-out 0s;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        @keyframes move {
            0% {
              bottom: 40px;
            }
            100% {
              bottom: 0;
            }
          } 

        .max-size{
            color: black;
            text-decoration:none;
        }


.big-image_container{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

    .big-background{
        z-index: 102;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        max-width: 90%;
        max-height: 90vh;
    }
        .big-image{
            max-width: 100%;
            max-height: 90vh;
        }
        .big-close{
            z-index: 104;
            position: absolute;
            top: 1vh;
            right: 1%;
            font-variation-settings:
            'FILL' 255,
            'wght' 400,
            'GRAD' 800,
            'opsz' 40;
            cursor: pointer;
        }

.detail-image-info{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
    .detail-info{
        padding: 7px;
        background-color: var(--backround_mode);
        color: var(--backround_mode_color);
        border-radius: 26px;
        display: flex;
        position: relative;
        width: 70%;
        height: 70vh;
        align-items: flex-start;
    }
        .detail-img{
            top: 15px;
            max-width: 40%;
        }
    .camera-info{
        width: 100%;
    }

.map {
    border-radius: 16px;
    max-width: 100%;
    max-height: 100vh;
  }



body,:before,:after ,header,:before,:after,.image_container,:before,:after {
    -webkit-transition: .25s ease-in-out;
   }

