@font-face {
    font-family: "e-Ukraine";
    src: url(../fonts/e-Ukraine-Regular.otf);
}

@font-face {
    font-family: "e-UkraineHead";
    src: url(../fonts/e-UkraineHead-LOGO.otf);
}

body{
    font-family: "e-Ukraine", sans-serif;
}
.change-wrap{
    position: relative;
    width: 100%;
}
    .small-wrap{
        position: absolute;
        right: 0;

    }
    .big-wrap{
        position: absolute;
        right: 0;
    }
.image_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: all 0.4s ease-in-out 0s;
}
    .images{
        display: flex;
        position: relative;
        height: 100%;
        max-height: 65vh;
        margin-bottom: 20px;
        flex-direction: column;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
        border-radius: 0px 0px 16px 16px;
        transition: all 0.4s ease-in-out 0s;
    }
        .image{
            max-width: 100%;
            max-height: 60vh;
            z-index: 1;
        }

        .image-info{
            display: none;
            position: relative;
            width: 100%;
            height: 40px;
            background: rgb(215, 215, 215);
            border-radius: 0px 0px 16px 16px;

            justify-content: space-around;
            align-items: center;
        }
        .image:hover ~ .image-info, .image-info:hover{
            animation: move 0.4s ease-in-out 0s;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        @keyframes move {
            0% {
              bottom: 40px;
            }
            100% {
              bottom: 0;
            }
          } 

        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 20
        }
        .material-symbols-outlined:hover {
            color: rgb(60, 60, 60);
        }
        .max-size{
            color: black;
            text-decoration:none;
        }


.big-image_container{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

    .big-background{
        z-index: 102;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        max-width: 90%;
        max-height: 90vh;
    }
        .big-image{
            max-width: 100%;
            max-height: 90vh;
        }
        .big-close{
            position: absolute;
            top: 1vh;
            right: 1%;
            font-variation-settings:
            'FILL' 255,
            'wght' 400,
            'GRAD' 800,
            'opsz' 40;
            cursor: pointer;
        }

.detail-image-info{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
    .detail-info{
        padding: 7px;
        background: white;
        border-radius: 26px;
        display: flex;
        position: relative;
        width: 70%;
        height: 70vh;
        align-items: flex-start;
    }
        .detail-img{
            top: 15px;
            max-width: 40%;
        }
    .camera-info{
        width: 100%;
    }

.map {
    border-radius: 16px;
    width: 100%;
  }